@charset "utf-8";

//=====================================
// カラーバリエーション
//=====================================

$color-default:   #111;
$color-link:      #D70247;

$color-black:     #222;
$color-white:     #FFF;
$color-gray:      #CCC;

$color-primary:   #1D2087;
$color-secondary: #D70247;
$color-info:      #00698C;
$color-error:     #D90000;
$color-workflow:  #EFEFEF;
$color-wactive:   #000;
$color-submit:    #FF8000;

$gradient-submit: linear-gradient(to bottom,  #a6d13b 0%, #7bb218 100%);
$gradient-primary: linear-gradient(to bottom,  #393da1 0%,#161774 100%);
$gradient-secondary: linear-gradient(to bottom,  #ffb001 0%,#fe8400 100%);
$gradient-line: linear-gradient(to bottom,  #00c901 0%,#02a901 100%);

//=====================================
// レイアウトの幅、高さ
//=====================================

$wide: 1000px;

//=====================================
// メディアタイプ
//=====================================

$media-types: (
  default: 'print, screen and (min-width: 961px)',
  xxs: 'only screen and (max-width: 340px)',
  xs: 'only screen and (max-width: 480px)',
  sm:  'only screen and (max-width: 767px)',
  sm-md:  'only screen and (max-width: 960px)',
  md:  'only screen and (min-width: 768px) and (max-width: 960px)',
  md-lg:  'only screen and (min-width: 768px)',
  lg:  'print, screen and (min-width: 961px)',
  xl: 'print, screen and (min-width: 1367px)',
  retina: 'screen and (-webkit-min-device-pixel-ratio: 2)',
  print: 'print',

  sp: 'only screen and (max-width: 767px)',
  pc: 'only screen and (min-width: 768px)'
);

//=====================================
// フォント
//=====================================

$ja_go: YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_suzuspo: 'M PLUS Rounded 1c', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_yu:   '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_min:  '游明朝' , 'Yu Mincho' , '游明朝体' , 'YuMincho', 'HG明朝B', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$ja_maru: 'ヒラギノ丸ゴ Pro W4','Hiragino maru Gothic Pro','HG丸ｺﾞｼｯｸM-PRO','Verdana','Osaka',sans-serif;
$en_num:  'Oswald', sans-serif;