@charset "utf-8";

body {
  color: #000000;
  font-family:$ja_go;
  font-size:16px;
  line-height: 1.65;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
}

a{
  text-decoration: underline;
  outline: none;
  color: $color-link;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}

p{
  margin-bottom: 1.85;
}

main{
  display: block;
}

strong{
  font-weight: 700;
}

img{
  max-width: 100%;
  height: auto;
}

div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  box-sizing: border-box;
}