@charset "utf-8";

@import "mixins";
@import "settings";

body {
  color: #000000;
  font-family:$ja_go;
  font-size:16px;
  line-height: 1.65;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
}

a{
  text-decoration: underline;
  outline: none;
  color: $color-link;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}

p{
  margin-bottom: 1.85;
}

main{
  display: block;
}

strong{
  font-weight: 700;
}

img{
  max-width: 100%;
  height: auto;
}

div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  box-sizing: border-box;
}

main{
  line-height: 1.6;
}

.container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flex{
  display: flex;
  @include media(sm){
    flex-direction: column;
  }
}

.c-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  text-decoration: none;
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  color: #FFF;
  &:hover{
    opacity: 0.9;
  }
}

//
// section
//

.section{
  padding-top: 60px;
  padding-bottom: 60px;
  @include media(sm){
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-header{
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  @include media(sm){
    margin-bottom: 15px;
  }

  .section-title{
    font-weight: 700;
    font-size: 40px;
    color: #122A88;
    line-height: 1.3;
    @include media(sm){
      font-size: 30px;
    }
  }

  .section-title__en{
    font-size: 20px;
    @include media(sm){
      font-size: 14px;
    }
  }
}

//
// button
//

//
// form
//

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select,
textarea{
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: inherit;
  font-size: 16px;
  background-color: #F8F8F8;
  border-radius: 3px;
  &:focus{
    background-color: darken(#F8F8F8,5);
    box-shadow: 0 0 3px rgba(#73B9FF,0.8);
  }
  &::placeholder {
    color: #999;
  }

  // IE
  &:-ms-input-placeholder {
    color: #DDDDDD;
  }

  // Edge
  &::-ms-input-placeholder {
    color: #DDDDDD;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select{
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

textarea{
  height: 12em;
}

.input-medium{
  @include media(md-lg){
    width: 35em;
  }
}

.input-full{
  width: 100%;
}

.label-radio{
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 20px;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  @include media(sm){
    font-size: 13px;
    padding-left: 23px;
  }
  input{
    opacity: 0;
    position: absolute;

  }
  &:before, &:after{
    transition: all 0.2s linear;
    position: absolute;
    left: 10px;
    top: 50%;
    content: "";
  }
  &:before{
    height: 24px;
    width: 24px;
    margin-top: -12px;
    border: 1px solid #BBB;
    border-radius: 50px;
    @include media(sm){
      height: 15px;
      width: 15px;
      margin-top: -8.5px;
      left: 0;
    }
  }
  &:after{
    border-radius: 50px;
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    background-color: #999;
    opacity: 0;
    margin-top: -6px;
    margin-left: 6px;
    @include media(sm){
      width: 9px;
      height: 9px;
      margin-top: -4.5px;
      left: -2px;
    }
  }

  &.is-active{
    &:after{
      box-sizing: border-box;
      opacity: 1;
    }
  }
}