@charset "utf-8";

.section{
  padding-top: 60px;
  padding-bottom: 60px;
  @include media(sm){
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-header{
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  @include media(sm){
    margin-bottom: 15px;
  }

  .section-title{
    font-weight: 700;
    font-size: 40px;
    color: #122A88;
    line-height: 1.3;
    @include media(sm){
      font-size: 30px;
    }
  }

  .section-title__en{
    font-size: 20px;
    @include media(sm){
      font-size: 14px;
    }
  }
}