@charset "utf-8";

.tel{
  @include media(lg){
    pointer-events: none;
    color: inherit;
    text-decoration: none;
  }
}

.text-center{
  text-align: center;
}

.fz-normal{
  @include media(md-lg){
    font-size: 16px;
  }
}

.hide-lg{
  @include media(lg){
    display: none;
  }
}

.hide-md{
  @include media(md){
    display: none;
  }
}

.hide-sm{
  @include media(sm){
    display: none;
  }
}