@charset "utf-8";

.table-info{
  width: 100%;
  tr{
    border-bottom: 2px solid lighten(#D70247, 30);
  }
  th, td{
    padding: 15px 10px;
  }

  th{
    text-align: left;
    white-space: nowrap;
    border-bottom: 2px solid #666;
    font-weight: 700;
  }
}