@charset "utf-8";

.c-title{
  font-weight: 700;
  line-height: 1.3;

  &_primary{
    @extend .c-title;
    font-family: $ja_min;
  }

  &_vision{
    @extend .c-title;
    color: #D70247;
    font-size: 2.2em;
    text-align: center;
  }

  &_secondary{
    font-size: 1.75em;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 5px;
    border-bottom: 3px solid #CCC;
    text-align: left;
    position: relative;
    color: #D70247;
    &:before{
      content: "";
      display: inline-block;
      height: 3px;
      width: 7em;
      background-color: #D70247;
      margin-bottom: -3px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &_third{
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  &_info{
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 25px;
    border-left: 2px solid #D70247;
    text-align: left;
  }
}